body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

section {
  margin: 2em 0;
}
.page-link {
  margin: 1em 2em;
}

.survey-page-header,
.survey-page-header .sv_main {
  background-color: #e7e7e7;
}

.survey-page-header-content {
  max-width: 80%;
  margin: auto;
  padding: 1.5em;
}

.survey-page-header-content a {
  color: white;
  text-decoration: unset;
}

.sv_main.sv_frame .sv_container .sv_header {
  padding-top: 2em;
}

.svd_container .sv_custom_header {
  display: none;
}

.sv_main.sv_frame .svd_container .sv_container {
  max-width: none;
  padding: unset;
}
